<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PushMapper">

	<resultMap id="pushSelectMap" type="push">
	
		<result property="pushId" 				column="push_id" 			jdbcType="NUMERIC"/>
		<result property="pushType" 		column="push_type"		jdbcType="VARCHAR"/>
		<result property="refId" 					column="ref_id"					jdbcType="VARCHAR"/>
		<result property="pushDate" 			column="push_date"		jdbcType="TIMESTAMP"/>
		<result property="receiverId" 		column="receiver_id"		jdbcType="VARCHAR"/>
		<result property="read" 					column="read" 					jdbcType="CHAR"/>
		<result property="cmtCount" 			column="cmt_count" 		jdbcType="INTEGER"/>
		
		<result property="title"						column="post_title"			jdbcType="VARCHAR"/>
		<result property="title"						column="cmt_content"		jdbcType="VARCHAR"/>
		<result property="boardName"		column="board_name"	jdbcType="VARCHAR"/>
		
	</resultMap>
	
  	
	<insert id="addPush" parameterType="push">
		INSERT INTO push (push_id, push_type, ref_id, push_date, read, receiver_id, cmt_count, deleted)
		VALUES (seq_push_id.NEXTVAL, #{pushType}, #{refId}, SYSTIMESTAMP, 'F', #{receiverId}, 1, 'F' )
	</insert>
	
	<select id="getPushType" parameterType="String" resultMap="pushSelectMap">
		SELECT push_id, push_type
		FROM push
		WHERE receiver_id = #{receiverId} AND p.deleted='F'
	</select>
	
	<sql id="select-pushList">
		SELECT  p.push_id, p.push_type, p.ref_id, p.push_date, p.read, p.cmt_count
		FROM push p
		WHERE p.receiver_id = #{receiverId} AND p.deleted='F'
		ORDER BY push_date DESC
	</sql>
	<select id="getBoardName1" parameterType="push" resultType="String">
		SELECT b.board_name
		FROM push p, post b
		WHERE p.ref_id = b.post_id
			AND p.push_id = #{pushId}
	</select>
	
	<select id="getBoardName2" parameterType="push" resultType="String">
		SELECT b.board_name
		FROM push p, comments c1, comments pc, post b
		WHERE p.ref_id = c1.cmt_id
			AND c1.parent_cmt_id = pc.cmt_id
			AND pc.post_id = b.post_id
			AND p.push_id =  #{pushId}
	</select>
	
	<select id="getPostTitle" parameterType="push" resultType="String">
		SELECT b.post_title title
		FROM push p, post b
		WHERE p.ref_id = b.post_id
				AND p.push_id = #{pushId}
		<!-- SELECT b.post_title title
		FROM push p, post b
		WHERE p.ref_id = b.post_id
				AND p.push_type = 'C'
				AND p.ref_id = #{refId}  -->
	</select>
	
	<select id="getCmtContent" parameterType="push" resultType="String">
		SELECT c2.cmt_content title
		FROM push p, comments c1, comments c2
		WHERE p.ref_id = c1.parent_cmt_id
				AND c1.parent_cmt_id = c2.cmt_id
				AND p.push_id = #{pushId} 
		<!-- SELECT c2.cmt_content title
		FROM push p, comments c1, comments c2
		WHERE p.ref_id = c1.parent_cmt_id
				AND c1.parent_cmt_id = c2.cmt_id
				AND p.push_type = 'R'
				AND p.ref_id = #{refId}  -->
	</select>
	
	<select id="getPlanTitle" parameterType="push" resultType="String">
		SELECT pl.plan_title title
		FROM push p, plan pl
		WHERE p.ref_id = pl.plan_id
				AND p.push_id = #{pushId} 
	<!-- 	SELECT pl.plan_title title
		FROM push p, plan pl
		WHERE p.ref_id = pl.plan_id
				AND p.push_type = 'I'
				AND p.ref_id = #{refId}  -->
	</select>
	
	<select id="getAccTitle" parameterType="push" resultType="String">
		SELECT b.post_title title
		FROM push p, post b
		WHERE p.ref_id = b.post_id
				AND p.push_id = #{pushId} 
		<!-- SELECT b.post_title title
		FROM push p, post b
		WHERE p.ref_id = b.post_id
				AND p.push_type = 'A'
				AND p.ref_id = #{refId}  -->
	</select>
	
	<select id="getPushId" parameterType="push" resultType="String">
		SELECT push_id
		FROM push
		WHERE ref_id = #{refId} AND receiver_id = #{receiverId}
	</select>
	
	<select id ="getCmtCount" parameterType = "push" resultType="push">
		SELECT cmt_count
		FROM push
		WHERE ref_id = #{refId} AND receiver_id = #{receiverId}
	</select>
	
	<select id ="getUnreadCount" parameterType = "push" resultType="int">
		SELECT count(*)
		FROM push
		WHERE receiver_id = #{receiverId} AND read = 'F' AND deleted='F'
	</select>
	
	<update id ="updateCmtCount" parameterType = "push">
		UPDATE push
		SET cmt_count = cmt_count + 1, push_date = SYSTIMESTAMP, read='F', deleted = 'F'
		WHERE ref_id = #{refId}
	</update>
	
	<update id ="readPush" parameterType="String">
		UPDATE push
		SET read = 'T'
		WHERE receiver_id = #{userId}
	</update>
	
	
	<update id = "deletePush">
		UPDATE push
		SET deleted = 'T', cmt_count = 0
		WHERE push_id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</update>
	
	
	<select  id="getPushList"  parameterType="map"	resultMap="pushSelectMap">
  		SELECT * FROM
  						(	SELECT inner_table.* , ROWNUM AS row_seq
  							FROM		(	<include refid="select-pushList"/> 	) inner_table
							WHERE ROWNUM <![CDATA[ <=]]> #{search.endRowNum}	)
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	</select>
	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	
	  		<include refid="select-pushList"/>
	  	 ) countTable						
	</select>
	 
	 
	
</mapper>